<!-- タイトル + 列表示非表示ボタン -->
<div class='h3_title'>
  <h3><%= t('clients.index.title') %></h3>
</div>
<!-- 一覧画面 -->
<div class='form-group'>
  <!-- 新規登録ボタン -->
  <%= 
    link_to(new_admin_client_path, class: 'btn btn-outline-primary btn-new') do
      icon_tag(:plus) + t('button.new')
    end
  %>
</div>
<div class='fixed_header_table' data-controller='index'>
  <table id='table'>
    <!-- 列見出し -->
    <thead>
      <tr>
        <th><%= Client.human_attribute_name(:name) %></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <!-- データ表示部 + 対象カラム一覧 + 編集・削除ボタン -->
      <% @clients.each do |client| %>
        <!-- 削除用のdomid設定 -->
        <tr>
          <!-- 顧客名 -->
          <td>
            <%= client.name %>
          </td>
          <td>
            <%#= link_to t('users.index.title'), users_admin_client_path(client.id), data: {turbo_frame: 'main_pane'} %>
          </td>
          <td>
            <div style='display:flex'>
              <!-- 編集ボタン -->
                <%= link_to('編集', edit_admin_client_path(client)) %>
                <%#= link_to('削除', admin_client_path(client.id),  data: { turbo_method: :delete }) %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

