<h5><%= t('menus.index.title') %></h5>
<div class='form-group'>
  <div class='fixed_header_table' data-controller='index' style='height: 15vh'>
    <table id='table'>
      <!-- 列見出し -->
      <thead>
        <tr>
          <th><%= Menu.human_attribute_name(:parent_id) %></th>
          <th><%= Menu.human_attribute_name(:child_id) %></th>
          <th><%= Menu.human_attribute_name(:logical_name) %></th>
          <th><%= Menu.human_attribute_name(:physical_name) %></th>
          <th><%= Menu.human_attribute_name(:url) %></th>
          <th><%= Menu.human_attribute_name(:display_order) %></th>
          <th><%= Menu.human_attribute_name(:is_show) %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <!-- データ表示部 + 編集・削除ボタン -->
        <% @menus.each do |menu| %>
          <!-- 削除用のdomid設定 -->
          <tr id=<%="#{dom_id(menu)}"%>>
            <!-- 親ID -->
            <td>
              <%= number_with_delimiter(menu.parent_id) %>
            </td>
            <!-- 子ID -->
            <td>
              <%= number_with_delimiter(menu.child_id) %>
            </td>
            <!-- 論理名 -->
            <td>
              <%= menu.logical_name %>
            </td>
            <!-- 物理名 -->
            <td>
              <%= menu.physical_name %>
            </td>
            <!-- URL -->
            <td>
              <%= link_to menu.url, menu.url, target: '_blank' %>
            </td>
            <!-- 表示順 -->
            <td>
              <%= number_with_delimiter(menu.display_order) %>
            </td>
            <!-- メニュー表示 -->
            <td class='checked_item'>
              <%= menu.is_show? ? '' : '非表示' %>
            </td>
            <td>
              <div style='display:flex'>
                <!-- 編集ボタン -->
                <%= edit_button(edit_admin_menu_path(menu)) %>
                <!-- 削除ボタン -->
                <%= delete_dialog_button(menu.id) %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <!-- 削除ダイアログ -->
  <%= render 'shared/delete_dialogs', {models: @menus} %>
</div>
